@font-face {
  font-family: 'Lexend Regular';
  src: url(/Lexend-Regular.ttf) format('truetype');
}

body {
  font-family: 'Lexend Regular', sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}
